@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  --mantine-color-body: #1E1F22FF;
  --mantine-color-text: #B0AAA0FF;
}

a {
  color: #e58a15;
  text-decoration:  underline;
  transition-timing-function: cubic-bezier(0.4, 0.2, 0.2, 1);
  transition-duration: 300ms;

  &:hover {
    color: #ffab54;
  }
}
